<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img height="20" src="/pim/{{majorVersion}}/img/akeneo.svg"></img>
            </a>
        </div>
        <form class="navbar-form navbar-left">
            <div class="form-group form-search">
                <input id="docSearch-input" type="text" class="form-control" placeholder="Search for PIM help...">
            </div>
        </form>
        <div class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Serenity <span class="caret"></span></a>
                <ul class="dropdown-menu" id="versions" data-filepath="{{filePath}}">
                    <li class="dropdown-title">Switch to</li>
                </ul>
            </li>
        </div>
    </div>
</nav>
