 <a href="/pim/serenity/updates/index.html">
    <div class="serenity-updates-btn">
        <img src="/pim/serenity/img/illus-serenity-updates.svg">
        <em>Discover what's new!</em>
    </div>
</a>
