 <a href="/pim/serenity/updates/index.html">
    <div class="serenity-updates-btn">
        <img src="/pim/serenity/img/illus-serenity-updates.svg">
        <em>What's new in Serenity?</em>
    </div>
</a>
