<div class="jumbotron jumbotron-serenity-banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><img width="25" src="/pim/serenity/img/hello.svg"></img> <b> Heads up!</b> This is the documentation for our <a href="https://www.akeneo.com/compare-editions/">Akeneo Serenity</a> version. Serenity clients benefit from exclusive access to the latest Akeneo PIM features.<br>If you want to browse the documentation of other PIM versions, click on the drop down menu on the top right corner.</p>
            </div>
        </div>
    </div>
</div>
