 <a href="/pim/serenity/whats-next.html">
    <div class="whats-next-btn">
        <img src="/pim/serenity/img/illus-road-signs.svg">
        <em>What's next in Serenity EE & GE?</em>
    </div>
</a>
