{{!-- Homepage --}}
{{#> layout  title="Akeneo Help center"}}
<nav class="navbar navbar-default navbar-fixed-top navbar-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <img height="20" src="/img/akeneo.svg"></img>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid"> 
    <h1 class="text-center" style="font-family: Comfortaa, sans-serif;"><img src="/img/hello.svg" width="40" style="vertical-align: bottom;"/> Hi there! </h1>
    <h2 class="text-center" style="font-family: Comfortaa, sans-serif;">You have questions, we have answers!<br>First, choose between our solutions</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-4 col-sm-6">
            <div class="persona">
                <a href="pim-index.html">
                    <img class="img-responsive center-block" src="/img/illus-setting-up.svg"/>
                    <h2 class="text-center">Akeneo PIM</h2>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10 col-lg-offset-2 col-lg-8">
                            <p class="text-center"><em>The best container in town for your product information</em></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="persona">
                <a href="/onboarder/index.html">
                    <img class="img-responsive center-block" src="/img/illus-onboarder.svg"/>
                    <h2 class="text-center">Akeneo Onboarder</h2>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10 col-lg-offset-2 col-lg-8">
                            <p class="text-center"><em>Easily manage product information from your suppliers</em></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center" style="font-family: Comfortaa, sans-serif;">Or maybe you need help with our tools?</h2>
        <div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6">
            <div class="persona">
                <a href="/portal/index.html">
                    <img class="img-responsive center-block" src="/img/illus-setting-up.svg"/>
                    <h2 class="text-center">Akeneo Portal</h2>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10 col-lg-offset-2 col-lg-8">
                            <p class="text-center"><em>Administrate all your Akeneo projects from one single place</em></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{{/layout}}
