{{!-- Older versions use guides --}}
{{#> layout  title="Akeneo Help center"}}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img height="20" src="/img/akeneo.svg"></img>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Older versions <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-title">Switch to</li>
                    <li><a href="/pim-index.html">v3</a></li>
                    <li><a href="/v2/pim-index.html">v2</a></li>
                    <li><a href="/pim-index-older.html">Older versions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive center-block" src="img/illus-using.svg"/>
                <h1 class="text-center emphasis">The complete guides to master previous PIM versions</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>v1.7</h1>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3 class="text-center">End-user</h3>
                    <img class="img-responsive center-block" src="img/illus-end-user-role-1_7.svg"/>
                    <a href="pdf-user-guides/EN-User-guide-PIM-CE-EE-1.7.pdf" download="End user role user guide v1.7.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'End-user', '1.7');">Download the pdf</a>
                </div>
                <div class="col-md-4 text-center">
                    <h3 class="text-center">Catalog settings</h3>
                    <img class="img-responsive center-block" src="img/illus-catalog-settings-1_7.svg"/>
                    <a href="pdf-user-guides/EN-Catalog-Setting-User-Guide-PIM-CE-EE-1.7.pdf" download="Catalog settings user guide v1.7.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'Catalog settings', '1.7');">Download the pdf</a>
                </div>
                <div class="col-md-4 text-center">
                    <h3 class="text-center">Administrator</h3>
                    <img class="img-responsive center-block" src="img/illus-admin-1_7.svg"/>
                    <a href="pdf-user-guides/EN-Administrator-guide-PIM-CE-EE-1.7.pdf" download="Administrator user guide 1.7.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'Administrator', '1.7');">Download the pdf</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    </div>
</div>
<div class="jumbotron jumbotron-deprecated-user-guides">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-akeneo"><em>The versions below are not supported by our team anymore.</em></h3>
                <p> It's not that we don't like them, it's just that they have run their course and now, they need to rest a little. 😊</p>
                <h1>v1.6</h1>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">End-user</h3>
                        <img class="img-responsive center-block" src="img/illus-end-user-role-1_6.svg"/>
                        <a href="pdf-user-guides/EN-User-guide-PIM-CE-EE-1.6.pdf"  download="End user role user guide v1.6.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'End-user', '1.6');">Download the pdf</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">Catalog settings</h3>
                        <img class="img-responsive center-block" src="img/illus-catalog-settings-1_6.svg"/>
                        <a href="pdf-user-guides/EN-Catalog-Setting-User-Guide-PIM-CE-EE-1.6.pdf"download="Catalog settings user guide v1.6.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'Catalog settings', '1.6');">Download the pdf</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">Administrator</h3>
                        <img class="img-responsive center-block" src="img/illus-admin-1_6.svg"/>
                        <a href="pdf-user-guides/EN-Administrator-guide-PIM-CE-EE-1.6.pdf" download="Administrator user guide 1.6.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'Administrator', '1.6');">Download the pdf</a>
                    </div>
                </div>
                <h1>v1.5</h1>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">End-user</h3>
                        <img class="img-responsive center-block" src="img/illus-end-user-role-1_5.svg"/>
                        <a href="pdf-user-guides/EN-User-guide-PIM-CE-EE-1.5.pdf" download="End user role user guide v1.5.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'End-user', '1.5');">Download the pdf</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">Catalog settings</h3>
                        <img class="img-responsive center-block" src="img/illus-catalog-settings-1_5.svg"/>
                        <a href="pdf-user-guides/EN-Catalog-Setting-User-Guide-PIM-CE-EE-1.5.pdf"  download="Catalog settings user guide v1.5.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'Catalog settings', '1.5');">Download the pdf</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">Administrator</h3>
                        <img class="img-responsive center-block" src="img/illus-admin-1_5.svg"/>
                        <a href="pdf-user-guides/EN-Administrator-guide-PIM-CE-EE-1.5.pdf" download="Administrator user guide 1.5.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'Administrator', '1.5');">Download the pdf</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>v1.4</h1>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">End-user</h3>
                        <img class="img-responsive center-block" src="img/illus-end-user-role-1_4.svg"/>
                        <a href="pdf-user-guides/EN-User-guide-PIM-CE-EE-1.4.pdf" download="End user role user guide v1.4.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'End-user', '1.4');">Download the pdf</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">Catalog settings</h3>
                        <img class="img-responsive center-block" src="img/illus-catalog-settings-1_4.svg"/>
                        <a href="pdf-user-guides/EN-Catalog-Setting-User-Guide-PIM-CE-EE-1.4.pdf"  download="Catalog settings user guide v1.4.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'Catalog settings', '1.4');">Download the pdf</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">Administrator</h3>
                        <img class="img-responsive center-block" src="img/illus-admin-1_4.svg"/>
                        <a href="pdf-user-guides/EN-Administrator-guide-PIM-CE-EE-1.4.pdf" download="Administrator user guide 1.4.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'Administrator', '1.4');">Download the pdf</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>v1.3</h1>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">End-user</h3>
                        <img class="img-responsive center-block" src="img/illus-end-user-role-1_3.svg"/>
                        <a href="pdf-user-guides/EN-User-guide-PIM-CE-EE-1.3.pdf" download="End user role user guide v1.3.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'End-user', '1.3');">Download the pdf</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">Catalog settings</h3>
                        <img class="img-responsive center-block" src="img/illus-catalog-settings-1_3.svg"/>
                        <a href="pdf-user-guides/EN-Catalog-Setting-User-Guide-PIM-CE-EE-1.3.pdf"  download="Catalog settings user guide v1.3.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'Catalog settings', '1.3');">Download the pdf</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3 class="text-center">Administrator</h3>
                        <img class="img-responsive center-block" src="img/illus-admin-1_3.svg"/>
                        <a href="pdf-user-guides/EN-Administrator-guide-PIM-CE-EE-1.3.pdf" download="Administrator user guide 1.3.pdf" class="btn btn-info" onclick="ga('send', 'event', 'download guides', 'Administrator', '1.3');">Download the pdf</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">I guess you reached the end!<br>Still looking for help? Join the community on <a href="https://akeneopim-ug.herokuapp.com">Slack</a>!</h3>
        </div>
    </div>
</div>
{{/layout}}
