{{!-- Shared template for all the articles --}}
{{> navbar-with-search }}
{{#> layout }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="article-title">{{{titleWithBold}}}</h1>
            </div>
            {{{mainContent}}}
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-9">
                <hr>
                {{#if relatedArticles}}
                <h2>Be curious! Take a look at these related articles</h2>
                <div class="row">
                    {{#each relatedArticles}}
                    <div class="col-sm-6">
                        <p {{#if eeOnly}}class="label-ee"{{/if}}><a href="/articles/{{articlePath}}">{{{articleName}}} ></a></p>
                    </div>
                    {{/each}}
                </div>
                <hr>
                {{/if}}
            </div>
        </div>
    </div>
{{/layout}}
