{{!-- The index of the versions page --}}
{{#> layout title="Akeneo PIM product support dates"}}
{{> navbar-only-logo }}
{{> updates-button}}
{{> whats-new-button}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="breadcrumb text-muted"><a href="/">Home</a> / <a href="/pim/v7">PIM help center</a> / Akeneo PIM product support dates</p>
                <h1>Akeneo PIM product support dates</h1>
            </div>
            <div class="col-lg-8">
                <p>You'll find below the end-of-support dates for all versions of Akeneo PIM.<br/>Once a version has reached end-of-support, we will no longer provide technical support nor bug/security patches for that version.<br/>&nbsp;</p>
                <table class="table">
                    <tr>
                        <th>Version</th>
                        <th>Release date</th>
                        <th>End of support date</th>
                        <th></th>
                    </tr>
                    {{#each versions}}
                        <tr>
                            <td>{{label}}</td>
                            <td>{{releaseDateLongLabel}}</td>
                            <td>{{supportEndDateLongLabel}}</td>
                            <td>{{#if isSupported}}<span class="label label-success">Supported</span>{{else}}<span class="label label-danger">Not supported</span>{{/if}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-12">
                        <div class="persona">
                            <a href="versions-in-detail.html#serenity">
                                <img class="img-responsive center-block" width="250" src="./img/illus-serenity-offer.svg"/>
                                <h3 class="text-center">Check out our Serenity mode</h3>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10">
                                        <p class="text-center"><em>With our Serenity mode, no need to worry about migrations, updates and patches. Your teams will always be running on the latest version.</em></p>
                                        <button class="btn btn-default btn-block">Read more</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-12">
                        <div class="persona">
                            <a href="versions-in-detail.html">
                                <img class="img-responsive center-block" width="250" src="./img/illus-old-versions.svg"/>
                                <h3 class="text-center">Interested in one specific version?</h3>
                                <div class="row">
                                    <div class="col-xs-offset-1 col-xs-10">
                                        <p class="text-center"><em>You want to learn more about one version of our PIM? Well, we have crafted a page just for you!</em></p>
                                        <button class="btn btn-default btn-block">Read more</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/layout}}
