{{!-- The index of the monthly updates --}}
{{#> layout }}
{{> navbar-with-search }}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img class="hidden-xs img-responsive center-block" src="../img/illus-gift.svg"></img>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <h1 class="emphasis hidden-xs" style="margin-top: 30px;">What's new in Akeneo PIM v4?</h1>
                    <h1 class="emphasis text-center visible-xs">What's new in Akeneo PIM v4?</h1>
                    <p class="hidden-xs"><em>New and improved Asset Management capabilities, insights into Data Quality, and comprehensive Connection Management!</em></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="breadcrumb text-muted"><a href="/">Home</a> / <a href="/pim/v4">PIM help center</a> / What's new in Akeneo PIM v4?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <h2>Welcome!</h2>
                <p>This new version of Akeneo’s product information management solution offers key new features, along with improvements to several existing capabilities.</p>
                <p>Akeneo PIM 4.0 introduces a <b>new Asset Manager</b> to give you more flexibility to work with digital assets, and help gather and manage all your assets in one place.</p>
                <p><b>Data Quality Insights</b>, meanwhile, is a new feature that helps you track and improve product information enrichment and consistency.</p>
                <p>Finally, Akeneo PIM 4.0 also offers a new <b>Connections</b> functionality that simplifies the ability to connect Akeneo PIM to other applications from the user interface.</p>
                <p>This new release also delivers improvements to <b>Franklin Insights</b>, along with additional <b>performance improvements</b> for CSV/XLSX and API-based import and export.</p>
                <p>Akeneo PIM 4.0 is a Long-Term Support (LTS) version. It will be supported for <b>18 months</b> until the end of August 2021.</p>
                <p>Unless otherwise noted, the enhancements in version 4.0 apply to both Community Edition and Enterprise Edition.</p>
                <p>For questions about upgrades, please contact your Akeneo Customer Success Manager or Akeneo Partner Manager.</p>
            </div>
            <div class="col-xs-12 col-md-7">
                <h2>Browse the v4 new features and improvements</h2>
                <div class="row">
                    {{#each updates as |update id|}}
                        <div class="col-xs-12 col-sm-6">
                            <div class="persona persona-updates">
                                <a href="{{id}}.html">
                                    <h3 class="text-center">{{title}}</h3>
                                    <div class="row">
                                        <div class="col-xs-offset-1 col-xs-10">
                                            <img class="img-responsive center-block" src="../img/{{img}}"/>
                                            <button class="btn btn-default btn-block">Read more</button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
{{/layout}}
