.jumbotron{
    background-color: @gray-lighter;
    &.jumbotron-search{
        padding: @spacing-base*1.5 0;
    }
    &.jumbotron-tight{
        padding: @spacing-base/3 0;
    }
    &.jumbotron-team{
        background: url(/img/product-team.png);
        background-position: center 550px;
    }
    .container{
        margin-bottom: 0px;
    }
    h1.emphasis{
        color: #11324D;
        font-size:  @font-size-base*2;
        font-family: Comfortaa, sans-serif;
        + p {
            font-size: 19px;
        }
    }
    h1{
        font-size: @font-size-h1;
        margin-top: 0px;
        color: @headings-color;
    }
    p{
        font-size: @font-size-base;
        font-weight: 300;
    }
    .btn  p{
        margin-left: 10px;
        &.lead{
            margin-bottom: 0;
            margin-top: 20px;
            font-size: @font-size-large;
        }
    }
    .panel.panel-jumbotron{
        margin-bottom: 0;
    }
}