.jumbotron{
    background-color: @gray-lighter;
    &.jumbotron-search{
        padding: @spacing-base/10 0 @spacing-base 0;
    }
    &.jumbotron-tight{
        padding: @spacing-base/3 0;
    }
    .container{
        margin-bottom: 0px;
    }
    h1.emphasis{
        color: @headings-color;
        font-size:  @font-size-base*2;
        font-family: Comfortaa, sans-serif;
        + p {
            font-size: 19px;
        }
    }
    h1{
        font-size: @font-size-h1;
        margin-top: 0px;
        color: @headings-color;

        img:hover {
          animation: hello 0.5s infinite;
          transform-origin: 30px 40px;
          animation-timing-function: ease-in-out;
        }
    }
    h3{
        margin: 15px 0 45px 0;
    }
    p{
        font-size: @font-size-base;
        font-weight: 300;
    }
    .btn  p{
        margin-left: 10px;
        &.lead{
            margin-bottom: 0;
            margin-top: 20px;
            font-size: @font-size-large;
        }
    }
    .panel.panel-jumbotron{
        margin-bottom: 0;
    } 
    &.jumbotron-deprecated-user-guides{
        h1{
            font-size: 30px;
            margin-top: 75px;
            color: @headings-color;
        }
    }
}

@-webkit-keyframes hello {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(15deg);}
    100% {transform: rotate(0deg);}
}
